<div ng-controller='tagsController' ng-init="eventsByTag = getEventsByTag()">


  <div class="events-by-tag row">
    <h2>{{tagName}}</h2>
  </div>


  <div class="row">
  <!-- LEFT COLUMN / YELP ACCORDIAN -->
    <div class="left places-list col-xs-4">
      <div class="yelp-accordian">
        <h4>Places You've Visited</h4>
        <accordion close-others="oneAtATime" ng-repeat="place in placesByTag">
          <accordion-group heading="{{place.name}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
            <div class="row yelp-img">
              <img class="place-image col-xs-6" src="{{place.photo_url}}"/>
              <div class="address-and-link col-xs-6">
                <p class="place-address pull-right text-center">{{place.address}}</p>
                <a href="{{place.yelp_link}}"><button class="place-url">Visit</button></a>
              </div>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>

    <!-- RIGHT COLUMN / PHOTOS CAROUSEL -->
    <div class="right photos-by-tag col-xs-7 col-xs-offset-1">
       <div class="row carousel-slides" ng-controller="modalController">
            <div ng-controller="carouselController" class="slides-control">
                <carousel interval="myInterval">
                  <slide ng-repeat="slide in photosByTag" active="slide.active">
                    <img ng-src="{{slide.url}}">
                  </slide>
                </carousel>
              </div>
          </div>
    </div>
  </div>


           <!-- <button id='delete_button' ng-click="deleteEvent(event.id)">x</button>

           <a href='#/trips/{{trip}}/events/{{event.id}}/update_event'><button>Update Event</button></a> -->
        </div>
    </div>
    </div>
</div>
