
<div id="events" ng-controller="eventsController" ng-init="event = getEvent(); tags = getTagsForEvent(); photos = getPhotosForEvent()">

<div class="row">
  <h1 class="text-center">{{event.title}}</h1>
</div>

<div class="row">
  <div>button1 class="col-xs-4"</div>

  <div class="single_event clearfix">

      <div class="left">
        <div id='title'>Event Title: {{event.title}} </div>
        <div id='date'> Date: {{event.date}}</div>
        <div id="journal_content">Journal Content: {{event.content}}</div>
      </div>

      <div id="right">

        <br>TAGS:
        <ul>

        <div id="right" ng-repeat="tag in tags">
          <li> {{tag.name}}</li>
        </div></ul><br>

         <div id='place'>PLACE: {{event.place}}</div>

          <p>Photos:</p>
         <div id='photos' ng-repeat="onePhoto in photos">
            <div class="single-photo">
              <a ng-href="{{onePhoto}}"><img ng-src="{{onePhoto}}"></a>
            </div>
         </div>

           <button id='delete_button' ng-click="deleteEvent(event.id)">x</button>

           <a ng-href='#/trips/{{trip}}/events/{{event.id}}/update_event'><button>Update Event</button></a>
        </div>
    </div>

</div>
</div>