<div id="events" ng-controller="eventsController" ng-init="events = getAllEvents()">
  <div class="toggle-btns container">
    <div class="row">
      <a ng-href="#/trips/{{trip}}/day"><button id='sort-day' class="col-xs-4 btn-large">By Day</button></a>
      <a ng-href="#/trips/{{trip}}/mapView"><button id='sort-day' class="col-xs-4 btn-large">Trip Overview</button></a>
      <a ng-href="#/trips/{{trip}}/tags"><button id='sort-day' class="col-xs-4 btn-large">By Tag</button></a>
    </div><br>

    <div class="events-header">
      <h1 class="text-center">My Events</h1>
      <div class="row center-event-btn">
        <div class="col-xs-3 col-xs-offset-1"></div>
        <a ng-href='#/trips/{{trip}}/new_event' ng-click='insertEvent()' class="col-xs-4"><button class="create-event-btn center-block">Add New Event</button></a>
        <div class="col-xs-3 col-xs-offset-1"></div>
      </div><br>
    </div>

  <!-- EVENTS BOXES -->
    <div ng-repeat="event in events">
      <!-- Each single event -->
      <div class="row one-event center-block single-event">
        <!-- Left side of event box with journal -->
        <div class="left col-xs-6">
          <a ng-href="#/trips/{{trip}}/events/{{event[0].id}}" class="event-title text-center">Title: {{event[0].title}}</a>
          <p class='event-place'>Place: {{event[1].name}}</p>
          <p class='event-date'> Date: {{event[0].date}}</p>
          <p class="event-journal-content">Journal: {{event[0].content}}</p>
          <div class="row">
            <a ng-href='#/trips/{{trip}}/events/{{event[0].id}}/update_event' class="col-xs-4 col-xs-offset-4 update-btn"><button class="mini-small update-btn">Update</button></a>
          </div>

        </div>

        <!-- Right side of event box with photo carousel -->
          <!-- Delete Button on Top Right -->
        <div class="right col-xs-6">
         <!--  <div class="row delete-btn pull-right">
            <div class="x-btn">
               <span class="gyphicon glyphlicon-remove" ng-click="deleteEvent(event[0].id)"></span>
            </div>
          </div><br>
 -->
          <!-- Carousel -->
          <div class="row carousel-slides">
            <div ng-controller="carouselController" class="slides-control">
                <carousel interval="myInterval">
                  <slide ng-repeat="slide in event[1]" active="slide.active">
                    <img ng-src="{{slide.url}}">
                  </slide>
                </carousel>
              </div>
          </div>
        </div>


      </div>
    </div>
  </div>



</div>
