  <div id="event-form-header"><h1>New Event</h1></div>


<div class='event-form-body row'>

  <div class="new-form-blocks col-xs-4 col-xs-offset-3">
    <div  ng-controller='eventsController' ng-init="event = getEvent()">
      <form ng-submit="updateEvent()">
        <input type="text" ng-model="activeEvent.title" placeholder="Event Title"/>


        <!-- date -->
        <input type="date" ng-model="activeEvent.date" placeholder="Event Date" id="event-date-input"/>
        <!-- end date -->

        <input type="text" ng-model="activeEvent.content" placeholder="Journal Entry"/>
        <input id="event-submit-btn" type="submit" value="submit"/>
        <div id="right" ng-repeat="tag in allTags">
          {{tag.name}}
        </div>

      </form>
    </div>
    <div id="tag-block" ng-controller='tagsController' ng-init="allTags = getTags()">
        <h6>TAGS:</h6>
        <form>
          <input type="text" ng-model="tag.name" placeholder="enter custom tag">
          <input type="submit" value="Enter Tag" ng-click='insertTag()'>
        <p>{{tag.name}}</p>
        </form>
    </div>
  </div>


  <div class="new-form-blocks col-xs-5" ng-controller="modalController">
      <!-- FACEBOOK -->
    <div id="fb-modal" ng-controller="facebookController">
     <button ng-click="login()" ng-show="windowStorage == 'false'">Connect <i class="fa fa-facebook-official"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></button>
     <button ng-click="toggleFB(); getPhotos()" ng-show="windowStorage == 'true'"><i class="fa fa-facebook-official"></i> Photos</button>
      <modal-dialog show='FBShown' dialog-title="Add Photos" width='75%' height='80%'>
        <div class="fb-pics-div" ng-repeat="photo in photos">
          <img class="fb-pics" src="{{photo}}" ng-click="toggleCustom(photo)" />
        </div>
        <input type="submit" ng-click="savePhotos(currentEvent)" id="sendPhotos" value="Add"/>
      </modal-dialog>
    </div>
      <!-- INSTAGRAM AREAS -->
    <div ng-controller="instagramController">
      <a href="https://instagram.com/oauth/authorize/?client_id=cb89d1dac394466e9767ad0e3bf9c6bf&redirect_uri=http://localhost:9000/instagram.html&response_type=code">
        <button ng-click="igAuth()" ng-show="instaCookies == 'false'"><i class="fa fa-instagram"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></button>
      </a>
      <button ng-click="igLogin(); toggleIG()" ng-show="instaCookies == 'true'"><i class="fa fa-instagram"></i> Photos</button>
      <modal-dialog show='IGShown' dialog-title="Add Photos" width='75%' height='80%'>
        <div class="ig-pics-div" ng-repeat="photo in photos">
          <img class="ig-pics" src="{{photo}}" ng-click="toggleCustom(photo)"/>
        </div>
        <input type="submit" ng-click="savePhotos(currentEvent)" id="sendPhotos" value="Add"/>
      </modal-dialog>
    </div>

  <!-- YELP -->
    <div id="yelp-modal">
      <button ng-click='toggleYelp()'><i class="fa fa-yelp"></i> Places</button>
        <modal-dialog show='yelpShown' dialog-title="Add Photos" width='75%' height='80%'>
          <p>Yelp links here<p>
          <div id="yelp-container" ng-controller="yelpController">
            <form>
              <input type="text" ng-model="yelp.search" placeholder="Search">
              <input type="text" ng-model="yelp.location" placeholder="Location">
              <input type="submit" value="search"  ng-click="searchYelp()">
            </form>
              <div class="results-index" ng-controller="eventsController">
                <div class="yelp-result" ng-repeat="result in results"style="background-image:url({{result.image_url}}); width: 100px; height:''" ng-click="addPlace(result, currentEvent)">
                    <p>{{result.name}}</p>
                </div>
              </div>
           </div>
        </modal-dialog>
    </div>
    <div id='photos' ng-repeat="photo in photos">
      <h3>My Photos</h3>
    </div>
  </div>
</div>
