<div id="event-form-header"><h1>New Event</h1></div>

<div class='event-form-body row'>

  <div class="new-form-blocks col-xs-4 col-xs-offset-3">
    <div  ng-controller='eventsController' ng-init=" insertEvent()">
      <form ng-submit="updateEvent()">
        <input type="text" ng-model="activeEvent.title" placeholder="Event Title" id="event-title-form"/>

        <!-- date -->
        <input type="date" ng-model="activeEvent.date" placeholder="Event Date" id="event-date-input"/>
        <!-- end date -->

        <textarea id="journal-box"type="text" ng-model="activeEvent.content" placeholder="Journal Entry"/></textarea>

        <div class="row">
          <input id="event-submit-btn" class="pull-right" type="submit" value="submit"/>
        </div>

      </form>
    </div>

  </div>


  <div class="new-event-right new-form-blocks col-xs-5" ng-controller="modalController">
      <!-- FACEBOOK -->
    <div class="row">
    <div id="fb-modal" ng-controller="facebookController">
     <button class="facebook-button" ng-click="login()" ng-show="windowStorage == 'false'">Connect<i class="fa fa-facebook-official"> </i><i class="fa fa-chevron-right"></i></button>
     <button class="facebook-button" ng-click="toggleFB(); getPhotos()" ng-show="windowStorage == 'true'"><i class="fa fa-facebook-official"></i> Photos</button>
      <modal-dialog show='FBShown' dialog-title="Add Photos" width='75%' height='80%'>
        <input type="submit" ng-click="savePhotos(currentEvent); toggleFB()" class="facebook-button" id="sendPhotos modal-add-btn" value="Add"/>
        <div class="results-overflow">
          <div class="fb-pics-div" ng-repeat="photo in photos">
            <img class="fb-pics" src="{{photo}}" ng-click="toggleCustom(photo)"/>
          </div>
        </div>
      </modal-dialog>
    </div>
      <!-- INSTAGRAM AREAS -->
    <div ng-controller="instagramController">
      <a href="https://instagram.com/oauth/authorize/?client_id=cb89d1dac394466e9767ad0e3bf9c6bf&redirect_uri=http://traverse-app.herokuapp.com/instagram.html&response_type=code">
        <button class="instagram-button" ng-click="igAuth()" ng-show="instaCookies == 'false'">Connect <i class="fa fa-instagram"> </i><i class="fa fa-chevron-right"></i></button>
      </a>
      <button class="instagram-button" ng-click="igLogin(); toggleIG()" ng-show="instaCookies == 'true'"><i class="fa fa-instagram"></i> Photos</button>
      <modal-dialog show='IGShown' dialog-title="Add Photos" width='75%' height='80%'>
        <input type="submit" ng-click="savePhotos(currentEvent); toggleIG()" id="sendPhotos modal-add-btn" class="instagram-button" value="Add"/>
        <div class="results-overflow">
          <div class="ig-pics-div" ng-repeat="photo in photos">
            <img class="ig-pics" src="{{photo}}" ng-click="toggleCustom(photo)"/>
          </div>
        </div>
      </modal-dialog>
    </div>

  <!-- YELP -->
    <div id="yelp-modal">
      <button class="yelp-button" ng-click='toggleYelp()'><i class="fa fa-yelp"></i> Places</button>
        <modal-dialog show='yelpShown' dialog-title="Add Places" width='75%' height='80%'>
          <div id="yelp-container" ng-controller="yelpController">
            <form>
              <div class="row">
                <input type="text" ng-model="yelp.search" placeholder="Yelp Search">
                <input type="text" ng-model="yelp.location" placeholder="Location">
                <input type="submit" value="search"  ng-click="searchYelp()" class="yelp-button">
              </div>
            </form>
              <div class="results-index" ng-controller="eventsController">
                <div class="results-overflow">
                  <div class="yelp-result" ng-repeat="result in results"style="background-image:url({{result.image_url}}); width: 100px; height:100px" ng-click="addPlace(result, currentEvent); toggleYelp()">
                    <p>{{result.name}}</p>
                  </div>
                </div>
              </div>
           </div>
        </modal-dialog>
    </div>
  </div>
    <!-- TAG BLOCK -->
    <div class="row">
    <div id="tag-block" class="col-xs-12" ng-controller='tagsController' ng-init="allDefaultTags = getDefaultTags()">
        <h6>TAGS:</h6>

        <!-- tag dropdown -->
      <!--   <select multiple="multiple">
          <option ng-repeat="tag in allDefaultTags">{{tag}}</option>
        </select> -->
        <!-- end dropdown -->

        <form>
          <input type="text" ng-model="tag.name" placeholder="enter custom tag">
          <input class="enter-tag-btn" type="submit" value="Enter Tag" ng-click='insertTag()'>
        <!-- <p>{{tag.name}}</p> -->
        <!-- input type="submit" value="Enter Tag" ng-click='insertTag()'> -->
        </form>
        <div class="row">
          <div class="right show-all-tags" ng-repeat="tag in allTags">
              <p class="each-tag col-xs-3">{{tag.name}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>

  </div>
</div>
