<h1>Update Event</h1>
<div class='left' ng-controller='eventsController' ng-init="event = getEvent()">
  <form ng-submit="editEvent()">
    <input type="text" ng-model="event.title"><br>
    <input type="date" ng-model="event.date"><br>
    <input type="text" ng-model="event.content"><br>
    <input type="submit" value="submit">
  </form>
</div>
<div id='right'>
      <div ng-controller='tagsController' ng-init="tags = getTagsForEventTagFactory()">
       <form>
        <input type="text" ng-model="tag.name" placeholder="enter custom tag">
        {{tag.name}}
        <input type="submit" value="Create New Tag" ng-click="insertTagForUpdateEvent()">
      </form>

        <p><br>TAGS for this Event:</p>
        <ul>
        <div ng-repeat="tag in tags">
         <li> {{tag.name}}</li>
        </div></ul><br>
      </div>

  <div id='3rd_party'>
<!--     <button>Import from Facebook</button>
    <button>Add Place from Yelp...somehow</button>
  </div id='photos'>
    <button>Import Photos INSTAGRAM</button>
  <div> -->
  </div>
</div>
