.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html {
  text-transform: uppercase;
  font-weight: bold;
}


.container {
  /*border: 2px black solid;*/
  margin-right: auto;
  margin-left: auto;


a:active {
  color: gray;
}

a {
  text-decoration: none;
}

.container {
}


/*Buttons*/

#buttons {
  margin-right: auto;
  margin-left: auto;
}

#new-event{
  text-align: center;
}

/*Yelp*/
.yelp-result{
  border: 3px solid black;
  display: inline-block;
  padding: 20px;
  margin: 20px;
  color: white;
}

.angular-google-map-container { height: 400px; }
