.fb-pics-div {
  max-width: 100%;
  max-width: 100%;
  display: inline-block;
}

.fb-pics {
  width: 200px;
  height: 200px;
  margin: 15px;
  border: 1px solid black;
  display: inline-block;
}

#sendPhotos {
  display: block;
  margin: 0 auto;
}
