/** {
  outline: 1px solid red;
}*/

/* Header */
#event-form-header {
  text-align: center;
  border-bottom: 1px gray solid;
  margin-bottom: 3%;
}

.event-form-title{
  width: 63%;
}

/* Form Body */
.new-form-blocks {
  display: inline-block;
}

.new-form-blocks input, button {
  margin-bottom: 10px;
  display: block;
  /*border-radius: 0px;*/
}

#event-date-input {
  width: 63%;
  border-radius: 4px
}

#tag-block{
  margin-top: 5%;
  margin-left: 0;
}

.each-tag {
  /*display:inline-block;*/
  border: 1px black solid;
  background-color: black;
  color: white;
  padding: 3%;
  font-size: 0.5em;
  margin: 1%;
  text-align: center;
}

#journal-box {
  height: 300px;
  width: 63%;
  vertical-align: top;
  margin-bottom: 15%;
}

.event-form-body i {
  padding-left: 1%;
}


/* Button */
#event-submit-btn {
 /* position: relative;
  top: -75px;
  left: 200px;*/
}

#event-submit-btn:hover {
  background-color: #232423;
  border: #232423;
  color: white;
}

.facebook-button {
  color: white;
  background-color: #3b5998;
  border: #3b5998;
}

.instagram-button {
  color: white;
  background-color: #517fa4;
  border: #517fa4;
  text-decoration: none;
}

.instagram-button a {

}

.yelp-button {
  background-color: #C93C27;
  border: #C93C27;
  color: white;
}

.new-event-right button {
  width: 45%;
}

.new-event-right button:hover {
  color: white;
}

#tag-block .enter-tag-btn:hover {
  color: white;
  background-color: #232423;
  border: #232423;
}

/* Photos */

.selected-highlight {
  border: 3px solid gray;
  opacity: 0.5;
}

#modal-add-btn {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10%;
}

.results-overflow {
  width: 100%;
  height: 80%;
  overflow:scroll;
}

.ig-pics-div img {
  cursor: pointer;
}

/* Yelp */

#yelp-modal .row input {
  display: inline-block;
  margin-right: 5px;
}

#yelp-modal .row {
  margin-left: 25%
}

#yelp-modal .results-overflow {
  position: absolute;
  width: 100%;
  /*height: 100px;*/
  height: 60%;
  margin: 0;
  overflow: scroll;
}

#yelp-modal .results-overflow div{
  display: inline-block;
  margin: 5px;
  width: 100px;
  height: 100px;
  opacity: 0.8;
}

#yelp-modal .yelp-result p {
  opacity: 1;
  background-color: rgba(255,255,255,0.5);
  color: black;
  position: absolute;
  width: 100px;
  word-break: break-word;
}
