<div id="auth" ng-controller="authController">

  <div id="buttons">
    <button type="button" id="login-btn" ng-click="login=!login">Login</button>
    <button type="button" id="register-btn" ng-click="signup=!signup">Register</button>
  </div>

  <div id="login" ng-show="login">
    <h2>Login</h2>
    <p>{{message}}</p>
    <form ng-submit="authenticate()">
      <input ng-model="user.username" type="text" name="username" placeholder="Username" /><br>
      <input ng-model="user.password" type="password" name="password" placeholder="Password" /><br>
      <input type="submit" value="Login" />
    </form>
  </div>

  <div id="register" ng-show="signup">
    <h2>Register</h2>
    <form ng-submit="register()">
      <input ng-model="new_user.name" type="text" name="name" placeholder="Name" /><br>
      <input ng-model="new_user.username" type="text" name="username" placeholder="Username" /><br>
      <input ng-model="new_user.email" type="text" name="email" placeholder="Email" /><br>
      <input ng-model="new_user.password" type="password" name="password" placeholder="Password" /><br>

      <input type="submit" value="Register" />
    </form>
  </div>

</div>


