<div id="auth" ng-controller="authController">

  <div id="buttons">
    <button type="button" id="login-btn" ng-click="login=!login">Login</button>
    <button type="button" id="register-btn" ng-click="register=!register">Register</button>
  </div>

  <div id="login" ng-show="login">
    <h2>Login</h2>
    <form ng-submit="authenticate()">
      <input ng-model="user.username" type="text" name="user" placeholder="Username" /><br>
      <input ng-model="user.password" type="password" name="pass" placeholder="Password" /><br>
      <input type="submit" value="Go" />
    </form>
  </div>

  <div id="register" ng-show="register">
    <h2>Register</h2>
    <form ng-submit="authenticate()">
      <input ng-model="new_user.username" type="text" name="user" placeholder="Username" /><br>
      <input ng-model="user.password" type="password" name="pass" placeholder="Password" /><br>
      <input type="submit" value="Go" />
    </form>
  </div>

  <!-- <input type="button" value="logout" ng-click="logout()"> -->

</div>


