<div class="container">
  <div id="all-trips-tags" ng-controller="tripsController" ng-init="trips = getTrips()">
    <div class="user-welcome" ng-controller="authController">
      <h1>Welcome, {{user_name}}</h1>
    </div>
    <h2>My Trips</h2>

    <form ng-submit="insertTrip()">
      <input type="text" ng-model="trip.title" placeholder="Add a New Trip">
      <input type="submit" value="submit">
    </form>

    <div class="trips-tags" ng-repeat="trip in trips">
      <a ng-href="/#/trips/{{trip.id}}/events" ng-click="reloadRoute()">
        <div class='trips-tags-img trips-tags-grow' >
        <img src='{{trip.photo}}'/>
        <p class="trip-title">{{ trip.title }}</p>
      </div>
      </a>

      <!-- <button id="trip-delete" ng-click="deleteTrip(trip.id)">x</button> -->

    </div>

  </div>
</div>
